<%- include('../partials/header') %>
<h2>All Flights</h2>
<table >
  <thead>
    <tr>
      <th>Airline:</th>
      <th>Airport:</th>
      <th>Flight Number:</th>
      <th>Departure Information (Date & Time):</th>
    </tr>
  </thead>
  <tbody class="depart-info">
    <% flights.forEach(function(f) { %>
      <tr>
        <td><%= f.airline %></td>
        <td><%= f.airport %></td>
        <td><%= f.flightNo %></td>
        <td><%= f.departs %></td>
        <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>

